<div class="login-container" style="
    margin-left: 40px;">
    <h2> Selecciona la cantidad de plazas:</h2>
</div>
<div class="row" style="
    margin-left: 40px;">
  <div class="col-sm-4">
    <h5>Tutores</h5>
    <p>Cupo Actual:</p>
    <h5>Actualizar Cupo</h5>
    <input type="number" id="fname" required [(ngModel)]="model.tutors" name="tutors" #tutors="ngModel"/>
    <a routerLink="/" class="btn btn-primary">Actualizar Cupo</a>
  </div>
   <div class="col-sm-4">
    <h5>Tutores</h5>
    <p>Cupo Actual:</p>
    <h5>Actualizar Cupo</h5>
    <input type="number" />
    <a routerLink="/" class="btn btn-primary">Actualizar Cupo</a>
  </div>
   <div class="col-sm-4">
   <h5>Tutores</h5>
    <p>Cupo Actual:</p>
    <h5>Actualizar Cupo</h5>
    <input type="number" />
     <a routerLink="/" class="btn btn-primary">Actualizar Cupo</a>
  </div>
</div>