header {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-bottom: 2px solid #eee;
	font-family: 'Open Sans', sans-serif;
	background-color: #2b4764; 
	color: white;
	font-style: 600i;
}

.navbar-default {
    background-color: #0738A7;
    border-color: #fff;
    height: 80px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav li a {
 line-height: 50px;
}
