header {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-bottom: 2px solid #eee;
	font-family: 'Open Sans', sans-serif;
	background-color: #2b4764; 
	color: white;
	font-style: 600i;
}