<div class="container">
    <h3>Materias</h3>
      <form *ngIf="Usercampus=='PRN'" [formGroup]="materiaForm" (ngSubmit)="agregarMateria()">
    <div class="form-group">
      <label for="clave">Clave</label>
      <input type="text" class="form-control" required formControlName="clave">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" required formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="periodo">Tetramestre</label>
      <br>
      <!--select name="tetramestrelist" form="materia" formControlName="semestre"-->
      <select name="periodolist"  formControlName="periodo">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="2">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      
    </div>
    <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</div>


<div class="container">
	<mat-table #table [dataSource]="dataSource">
		<ng-container matColumnDef="clave">
			<mat-header-cell *matHeaderCellDef>Clave</mat-header-cell>
			<mat-cell *matCellDef="let materia" (click)="onEdit(materia)"><a>{{materia.clave}}</a></mat-cell>
		</ng-container>
		<ng-container matColumnDef="nombre">
			<mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
			<mat-cell *matCellDef="let materia">{{materia.nombre}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="tetramestre">
			<mat-header-cell *matHeaderCellDef>Tetramestre</mat-header-cell>
			<mat-cell *matCellDef="let materia">{{materia.periodo}}</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
	</mat-table>
	  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>