  <!--div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div-->
<div class="container">
    <h3>Materias</h3>
      <form *ngIf="Usercampus=='PRN'" [formGroup]="materiaForm" (ngSubmit)="agregarMateria()">
    <div class="form-group">
      <label for="clave">Clave</label>
      <input type="text" class="form-control" required formControlName="clave">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" required formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="periodo">Tetramestre</label>
      <br>
      <!--select name="tetramestrelist" form="materia" formControlName="semestre"-->
      <select name="periodolist"  formControlName="periodo">
        <option value="1ro">1</option>
        <option value="2do">2</option>
        <option value="3ro">3</option>
        <option value="2to">4</option>
        <option value="5to">5</option>
        <option value="6to">6</option>
      </select>
      
      <!--input type="text" class="form-control" id="last" required [(ngModel)]="nTutor.name.last" name="last" #last="ngModel"-->
    </div>
          <!--[disabled]="!materiaForm.valid"-->
    <button type="submit" class="btn btn-success">Agregar</button>
    <!--input type="submit" value="Agregar"-->
    </form>
     <!--button class="btn" (click)="downloadExcel()">Excel</button>
    <button (click)="assignTutors()">Asignar</button-->
</div>


<div class="container">
	<mat-table #table [dataSource]="dataSource">
		<ng-container matColumnDef="clave">
			<mat-header-cell *matHeaderCellDef>Clave</mat-header-cell>
			<mat-cell *matCellDef="let materia" (click)="onEdit(materia)"><a>{{materia.clave}}</a></mat-cell>
		</ng-container>
		<ng-container matColumnDef="nombre">
			<mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
			<mat-cell *matCellDef="let materia">{{materia.nombre}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="tetramestre">
			<mat-header-cell *matHeaderCellDef>Tetramestre</mat-header-cell>
			<mat-cell *matCellDef="let materia">{{materia.periodo}}</mat-cell>
		</ng-container>
                <!--ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let materia" (click)="$event.stopPropagation()">
                        <button mat-button (click)="onDelete(group.id)">
                                <mat-icon>delete</mat-icon>
                        </button>
                        </mat-cell>
                </ng-container-->
            
		<!--ng-container matColumnDef="isElegible">
			<mat-header-cell *matHeaderCellDef>Elegible al Curso</mat-header-cell>
			<mat-cell *matCellDef="let tutor">
				<button class="btn" [ngClass]="{'btn-success': tutor.isElegible, 'btn-danger': !tutor.isElegible }" (click)="toggleElegibilidad(tutor)">{{tutor.isElegible == true ? 'Si' : (tutor.isElegible == false ? 'No' : '')}}</button>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="isTutor">
			<mat-header-cell *matHeaderCellDef>Elegible a ser Tutor</mat-header-cell>
			<mat-cell *matCellDef="let tutor">
				<button class="btn" [ngClass]="{'btn-success': tutor.isTutor, 'btn-danger': !tutor.isTutor }" (click)="toggleTutor(tutor)">{{tutor.isTutor == true ? 'Si' : (tutor.isTutor == false ? 'No' : '')}}</button>
			</mat-cell>
		</ng-container-->
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
	</mat-table>
	  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>