<div>
	<mat-table [dataSource]="dataSource">
		<ng-container matColumnDef="matricula">
			<mat-header-cell *matHeaderCellDef>Matricula/Nomina</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.matricula}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="campus">
			<mat-header-cell *matHeaderCellDef>Campus</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.campus}}</mat-cell>
		</ng-container>				
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.name.first}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="lastname">
			<mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.name.last}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.correo}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="altemail">
			<mat-header-cell *matHeaderCellDef>Correo Alterno</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.email}}</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
	</mat-table>
</div>