  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

<div>
	<mat-table #table [dataSource]="dataSource">
		<ng-container matColumnDef="matricula">
			<mat-header-cell *matHeaderCellDef>Matricula/Nomina</mat-header-cell>
			<mat-cell *matCellDef="let tutor" (click)="onEdit(tutor)"><a>{{tutor.matricula}}</a></mat-cell>
		</ng-container>
		<ng-container matColumnDef="campus">
			<mat-header-cell *matHeaderCellDef>Campus</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.campus}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="major">
			<mat-header-cell *matHeaderCellDef>Carrera</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.major}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="semester">
			<mat-header-cell *matHeaderCellDef>Semestre</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.semester}}</mat-cell>
		</ng-container>	
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.name.first}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="lastname">
			<mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.name.last}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef>Correo Alterno</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.email}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="average">
			<mat-header-cell *matHeaderCellDef>Promedio Escolar</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.average}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="isElegible">
			<mat-header-cell *matHeaderCellDef>Elegible al Curso</mat-header-cell>
			<mat-cell *matCellDef="let tutor">
				<button class="btn" [ngClass]="{'btn-success': tutor.isElegible, 'btn-danger': !tutor.isElegible }" (click)="toggleElegibilidad(tutor)">{{tutor.isElegible == true ? 'Si' : (tutor.isElegible == false ? 'No' : '')}}</button>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="courseGrade">
			<mat-header-cell *matHeaderCellDef>Calificacion Del Curso</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.courseGrade}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="isTutor">
			<mat-header-cell *matHeaderCellDef>Elegible a ser Tutor</mat-header-cell>
			<mat-cell *matCellDef="let tutor">
				<button class="btn" [ngClass]="{'btn-success': tutor.isTutor, 'btn-danger': !tutor.isTutor }" (click)="toggleTutor(tutor)">{{tutor.isTutor == true ? 'Si' : (tutor.isTutor == false ? 'No' : '')}}</button>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
	</mat-table>
	  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 75, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>