<h2 style="padding-left:15px;padding-right:15px">Reportes<h2>
<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Curso"></mat-tab>
  <mat-tab label="Materias"></mat-tab>
  <mat-tab label="Promedios"></mat-tab>
</mat-tab-group>

<div>
	<mat-table #table [dataSource]="dataSource">
		<ng-container matColumnDef="matricula">
			<mat-header-cell *matHeaderCellDef>Matricula/Nomina</mat-header-cell>
			<mat-cell *matCellDef="let tutor" (click)="onEdit(tutor)"><a>{{tutor.matricula}}</a></mat-cell>
		</ng-container>
		<ng-container matColumnDef="promedio">
			<mat-header-cell *matHeaderCellDef>Calificacion</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.promedio}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="courseGrade">
			<mat-header-cell *matHeaderCellDef>Calificacion Del Curso</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{(tutor.calificacionCurso || 0.00) | number:'1.2-2'}}</mat-cell>
		</ng-container>
                <ng-container matColumnDef="materia1">
			<mat-header-cell *matHeaderCellDef>Materia 1</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.materias[0].materia1}}</mat-cell>
		</ng-container>
                <ng-container matColumnDef="materia2">
			<mat-header-cell *matHeaderCellDef>Materia 2</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.materias[0].materia2}}</mat-cell>
		</ng-container>
                <ng-container matColumnDef="materia3">
			<mat-header-cell *matHeaderCellDef>Materia 3</mat-header-cell>
			<mat-cell *matCellDef="let tutor">{{tutor.materias[0].materia3}}</mat-cell>
		</ng-container>
                
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row, columns: displayedColumns;"></mat-row>
	</mat-table>
	  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 75, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>