<div class="container">
  <h1>Registro de Tutores</h1>
  <form [formGroup]="tutorForm" (ngSubmit)="addTutor()">
    <div class="form-group">
      <label class="center-block">Matricula:
        <input class="form-control" formControlName="matricula">
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['matricula'].errors && tutorForm.controls['matricula'].touched">
        <div *ngIf="tutorForm.controls['matricula'].errors?.required">
          Se necesita una matricula.
        </div>
        <div *ngIf="tutorForm.controls['matricula'].errors?.pattern">
          Formato de matricula incorrecto.
        </div>
      </div>
    </div>
    <fieldset formGroupName="nombre">
      <div class="form-group">
        <label class="center-block">Nombre:
          <input class="form-control" formControlName="nombre">
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['nombre'].controls['nombre'].errors && tutorForm.controls['nombre'].controls['nombre'].touched">
          <div *ngIf="tutorForm.controls['nombre'].controls['nombre'].errors?.required">
            Se necesita una nombre.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Apellido:
          <input class="form-control" formControlName="apellido">
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['nombre'].controls['apellido'].errors && tutorForm.controls['nombre'].controls['apellido'].touched">
          <div *ngIf="tutorForm.controls['nombre'].controls['apellido'].errors?.required">
            Se necesita una apellido.
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label class="center-block">Correo:
        <input class="form-control" formControlName="correo">
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['correo'].errors && tutorForm.controls['correo'].touched">
        <div *ngIf="tutorForm.controls['correo'].errors?.required">
          Se necesita un correo.
        </div>
        <div *ngIf="tutorForm.controls['correo'].errors?.pattern">
          Formato incorrecto.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Campus:
        <select class="form-control" formControlName="campus">
          <option *ngFor="let c of campuss" [value]="c">
            {{c}}
          </option>
        </select>
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['campus'].errors && tutorForm.controls['campus'].touched">
        <div *ngIf="tutorForm.controls['campus'].errors?.required">
          Se necesita un campus.
        </div>
      </div>
    </div>
    <fieldset formGroupName="materias">
      <div class="form-group">
        <label class="center-block">Materia 1:
          <select class="form-control" formControlName="materia1" [(ngModel)]="mat1">
            <option *ngFor="let m of materiass | filtroMaterias: mat2 | filtroMaterias: mat3" [value]="m">
              {{m}}
            </option>
          </select>
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['materias'].controls['materia1'].errors && tutorForm.controls['materias'].controls['materia1'].touched">
          <div *ngIf="tutorForm.controls['materias'].controls['materia1'].errors?.required">
            Escoje una materia!
          </div>
          <div *ngIf="tutorForm.controls['materias'].controls['materia1'].errors?.pattern">
            Escoje una materia!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Materia 2:
          <select class="form-control" formControlName="materia2" [(ngModel)]="mat2">
            <option *ngFor="let m of materiass | filtroMaterias: mat1 | filtroMaterias: mat3" [value]="m">
              {{m}}
            </option>
          </select>
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['materias'].controls['materia2'].errors && tutorForm.controls['materias'].controls['materia2'].touched">
          <div *ngIf="tutorForm.controls['materias'].controls['materia2'].errors?.required">
            Escoje una materia!
          </div>
          <div *ngIf="tutorForm.controls['materias'].controls['materia2'].errors?.pattern">
            Escoje una materia!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Materia 3:
          <select class="form-control" formControlName="materia3" [(ngModel)]="mat3">
            <option *ngFor="let m of materiass | filtroMaterias: mat1 | filtroMaterias: mat2" [value]="m">
              {{m}}
            </option>
          </select>
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['materias'].controls['materia3'].errors && tutorForm.controls['materias'].controls['materia3'].touched">
          <div *ngIf="tutorForm.controls['materias'].controls['materia3'].errors?.required">
            Escoje una materia!
          </div>
          <div *ngIf="tutorForm.controls['materias'].controls['materia3'].errors?.pattern">
            Escoje una materia!
          </div>
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-success" [disabled]="!tutorForm.valid">Ingresar</button>
  </form>
</div>
<!-- Codigo de forma de registro con todos los componentes
  <div class="container">
  <h1>Registro de Tutores</h1>
  <form [formGroup]="tutorForm" (ngSubmit)="addTutor()">
    <div class="form-group">
      <label class="center-block">Matricula:
        <input class="form-control" formControlName="matricula">
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['matricula'].errors && (tutorForm.controls['matricula'].dirty || tutorForm.controls['matricula'].touched)">
        <div *ngIf="tutorForm.controls['matricula'].errors?.required">
          Se necesita una matricula.
        </div>
      </div>
    </div>
    <fieldset formGroupName="name">
      <div class="form-group">
        <label class="center-block">Nombre:
          <input class="form-control" formControlName="first">
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['name'].controls['first'].errors && (tutorForm.controls['name'].controls['first'].dirty || tutorForm.controls['name'].controls['first'].touched)">
          <div *ngIf="tutorForm.controls['name'].controls['first'].errors?.required">
            Se necesita una nombre.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Apellido:
          <input class="form-control" formControlName="last">
        </label>
        <div class="alert alert-danger" *ngIf="tutorForm.controls['name'].controls['last'].errors && (tutorForm.controls['name'].controls['last'].dirty || tutorForm.controls['name'].controls['last'].touched)">
          <div *ngIf="tutorForm.controls['name'].controls['last'].errors?.required">
            Se necesita una apellido.
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label class="center-block">Correo:
        <input class="form-control" formControlName="correo">
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['correo'].errors && (tutorForm.controls['correo'].dirty || tutorForm.controls['correo'].touched)">
        <div *ngIf="tutorForm.controls['correo'].errors?.required">
          Se necesita un correo.
        </div>
        <div *ngIf="tutorForm.controls['correo'].errors?.pattern">
          Formato incorrecto.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Correo Alternativo:
        <input class="form-control" formControlName="email">
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['email'].errors && (tutorForm.controls['email'].dirty || tutorForm.controls['email'].touched)">
        <div *ngIf="tutorForm.controls['email'].errors?.pattern">
          Formato incorrecto.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Calificacion:
        <input class="form-control" formControlName="grades">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Curso:
        <input class="form-control" formControlName="course">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Campus:
        <select class="form-control" formControlName="campus">
          <option *ngFor="let c of campus" [value]="c">
            {{c}}
          </option>
        </select>
      </label>
      <div class="alert alert-danger" *ngIf="tutorForm.controls['campus'].errors && (tutorForm.controls['campus'].dirty || tutorForm.controls['campus'].touched)">
        <div *ngIf="tutorForm.controls['campus'].errors?.required">
          Se necesita seleccionar un campus.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!tutorForm.valid">Ingresar</button>
    <p>Form value: {{ tutorForm.value | json }}</p>
    <p>Form value: {{ tutorForm.status | json }}</p>
  </form>
</div>
-->
