<body>
	<h1 class="title">
	  BUENAS TARDES
	</h1>

	<h4>
		Menu de opciones:
	</h4>

	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/registro-admins">registrar administradores.</a>
	</h5>


	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/descarga-interesados">descargar interesados.</a>
	</h5>
<!-- 	<a routerLink="/login">Regresar</a>
	<br>
 -->	
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
  </div>
</div>
<button>Hola</button>	
</body>
