
<body>
	<h1 class="title">
	  Selecciona una de las siguientes opciones:
	</h1>

<!-- 
	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/registro-admins">registrar administradores.</a>
	</h5>


	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/descarga-interesados">descargar interesados.</a>
	</h5> -->

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registrar Administradores</h5>
        <p class="card-text">Ingresar para registrar adminsitradores</p>
        <a routerLink="/dashboard/registro-admins" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Descargar Interesados</h5>
        <p class="card-text">Ingresar aquí para descargar un .csv con ls interesados</p>
        <a routerLink="/dashboard/descarga-interesados" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Placeholder</h5>
        <p class="card-text">Ingresar aquí para descargar un .csv con ls interesados</p>
        <a routerLink="/dashboard/descarga-interesados" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style = "margin-top: 70px;">
      <div class="card-body">
        <h5 class="card-title">Placeholder</h5>
        <p class="card-text"></p>
        <a routerLink="/dashboard/registro-admins" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4" >
    <div class="card" style = "margin-top: 70px;">
      <div class="card-body">
        <h5 class="card-title">Placeholder</h5>
        <p class="card-text"></p>
        <a routerLink="/dashboard/descarga-interesados" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style = "margin-top: 70px;">
      <div class="card-body">
        <h5 class="card-title">Placeholder</h5>
        <p class="card-text"></p>
        <a routerLink="/dashboard/descarga-interesados" class="btn btn-primary">Ingresar</a>
      </div>
    </div>
  </div>
</div>


</body>

