h4{
	font-family: 'Open Sans', sans-serif;
}

h5{
	font-family: 'Open Sans', sans-serif;
}

 h1 {
    font-size: 36px;
    font-weight: bold;
}

.title{
	font-family: 'Arial', sans-serif;

}

body{

	margin: 50px;
	background-color: #ececec;
}

.row{

	margin-top: 25px;
	margin-bottom: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #0738A7;
    border-color: #0738A7;
}

.mat-raised-button{
	background-color: #0738A7;
}

.card-title{
	font-size: 24px;
	font-weight: bold;
}

.mat-card-header-text {
    margin: none !important;
}