
<body>
	<h1 class="title">
	  Bienvenid@
	</h1>

<!-- 
	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/registro-admins">registrar administradores.</a>
	</h5>


	<h5>
		En este módulo puedes ingresar para <a routerLink="/dashboard/descarga-interesados">descargar interesados.</a>
	</h5> -->


<div class="row">
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header >
        <mat-card-title style="margin-left:-8px;" class="card-title">Registrar Administradores</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ingresar para registrar adminsitradores
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-raised-button color="primary" routerLink="/dashboard/registro-admins">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left:-8px;" class="card-title">Reportes</mat-card-title>
      </mat-card-header>
       <mat-card-content>
        <p>
          Ingresar aquí para ver los reportes de tutores.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/dashboard/reportes">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left:-8px;" class="card-title">Ver Tutores</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ingresar aquí para ver la lista de candidatos a tutores.
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/dashboard/lista-tutores">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left:-8px;" class="card-title">Fijar Plazas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Aquí se pueden fijar la cantidad de plazas
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/dashboard/fijar-plazas">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-4" >
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left:-8px;" class="card-title">Registrar Tutor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ingresar aqui para registrar tutores
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/dashboard/registro-tutor">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left:-8px;" class="card-title">Listado de materias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ingresar aqui para ver las materias
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/dashboard/registro-tutor">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


</body>

